body{
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: Consolas;
}

.QCSimg{
    width: 500px;
    margin-top: 0;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.HomeBttn{
    position: absolute;
    top: 25px;
    left: 25px;
    bottom: 474px;
    right: 976px;
    padding: 10px;
    margin-bottom: 0px;
}

.HomeBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    /*height: 600px;*/
    /*padding: 20px;*/
    padding-bottom: 20px;
    /*margin-top: 100px;*/
    box-sizing: border-box;
    background: rgba(128,128,128, 0.6);
    border-radius: 50px;
    border-color: black;
}

.GreyBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 400px;
    padding: 50px;
    box-sizing: border-box;
    background: rgba(128,128,128, 0.6);
    border-radius: 50px;
    border-color: black;
}

.IntroductieBox {
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.BttnBox {
    padding-top: 25px;
    margin: 0;
    text-align: center;
}

.bttn {
    font-family: Consolas, sans-serif;
    font-size: 18px;
    background: rgba(0,255,0, 0.4);
    width: 160px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    color: black;
    border-radius: 10px;
    border-color: transparent;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.DropdownList {
}

.BedrijfsGegevens {
    /*    display: flex;
    flex-wrap: wrap;*/
    position:center;
    width: 50%;
    float: left;
    justify-content: space-between;

}

.PersoonsGegevens {
    /*    display: flex;
    flex-wrap: wrap;*/
    position: center;
    width: 40%;
    float: right;
    justify-content: space-between;
}

.Scan-input-box {
    margin-top: 10px;
    border-bottom: 1px solid black;
    position: center;
    width: 900px;
}

.bttngegevens {
    font-family: Consolas, sans-serif;
    font-size: 18px;
    background: rgba(0,255,0, 0.4);
    width: 160px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    color: black;
    border-radius: 10px;
    border-color: transparent;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 300px;
    right: 435px;

}

.Balk{
    position: absolute; 
    top: 0;
    left: 139px;
    bottom: 473px;
    right: 56px;

}

.Antwoorden{
    width: 108%;
    margin-bottom: 20px;
}

.Header{
    border-bottom: 2px solid black;
    text-align: center;
}

.GreyBoxScan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    padding: 50px;
    box-sizing: border-box;
    background: rgba(128,128,128, 0.6);
    border-radius: 50px;
    border-color: black;
}

.adminlogin{
    margin: auto;
    width: 50%;
    padding: 20px;
}

.inputtext{
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-bottom: 2px solid black;
    border-right: none;
}

.GreyBoxData {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1300px;
    padding: 50px;
    box-sizing: border-box;
    background: rgba(128,128,128, 0.6);
    border-radius: 50px;
    border-color: black;
}


.scrollmenu{
    height: 300px;
    overflow-y: scroll;
}

.grid{
    overflow-x: auto;
}

.introductietext {
    width:90%;
}

.BttnBox {
    padding-top: 25px;
    margin: 0;
    text-align: center;
}